<div class="d-flex flex-column h-100">
  <div class="tech_background py-5 d-flex justify-content-center align-items-center flex-column">
    <img src="assets/logo_light.svg" width="200" height="200" alt="Logo de l'entreprise">
    <h1 class="text-light text-center">Alterra Web Hosting</h1>
    <div class="d-flex align-items-center justify-content-center mt-3 w-100">
      <button class="btn btn-primary me-3" routerLink="/login">Se connecter</button>
      <button class="btn btn-light ms-3" routerLink="/register">S'inscrire</button>
    </div>
  </div>
  <div class="bg-dark bg-gradient text-light p-5">
    <div class="d-flex align-items-center flex-wrap mb-5">
      <img src="assets/lightbulb.png" alt="Icone d'ampoule" class="m-3"/>
      <div class="wide-text">
        <h2>Notre service</h2>
        <p>Alterra Web Hosting est l'un des leaders de l'industrie de l'hébergement en ligne. Nous vous proposons des solutions sur mesure et innovantes pour répondres à toutes vos problématiques.</p>
        <p>Grâce à nos outils simples et ergonomiques, vous pourrez rapidement configurer et louer un serveur virtuel privé afin de vous lancer dans vos projets sans difficulté.</p>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap mb-5">
      <img src="assets/hand-shake.png" alt="Icone de mains serrées" class="m-3"/>
      <div class="wide-text">
        <h2>Notre priorité : la qualité</h2>
        <p>Nous travaillons dur chaque jour pour vous fournir des infrastructures les plus stables, puissantes, et simples d'utilisation possible. Et vous nous le rendez bien : 94% de nos utilisateurs recommandent Alterra Web Hosting.</p>
        <p>C'est fiers de cette confiance que nous accordent nos utilisateurs que nous nous surpassons en permanence. Nos gammes de produits s'élargissent et sont toujours à la limite des avancées technologiques.</p>
        <p>Pour nous distinguer, nous avons adopté des processus uniques. Nos datacenters sont construits au fonds d'océans et dans des zones glaciaires afin d'atteindre un refroidissement maximal pour extraire le plus de puissance de nos serveurs.</p>
        <p>Nous faire confiance, c'est faire confiance à vos projets.</p>
      </div>
    </div>
    <div class="d-flex align-items-center flex-wrap">
      <img src="assets/cpu.png" alt="Icone de processeur" class="m-3"/>
      <div class="wide-text">
        <h2>Qu'est-ce qu'un VPS et à quoi sert-il ?</h2>
        <p>Un serveur privé virtuel (VPS) permet d’héberger des sites web (vitrine, e-commerce, contenus, médias) et des applications logicielles (portails, Extranet, solutions collaboratives, wikis, CRM). Contrairement à l’hébergement mutualisé, les données sont isolées sur une machine virtuelle dédiée à l’utilisateur.</p>
        <p>Idéalement situés entre un hébergement web et un serveur physique, nos VPS conjuguent la fiabilité et la performance d’un serveur dédié sans la gestion des contraintes matérielles.</p>
        <p>Les VPS ont pour avantage de vous libérer de la gestion hardware, comme le suivi de l’état des disques durs, de la mémoire vive (RAM) et du CPU. Ils sont adaptés à la plupart des usages web, pour des projets dont la taille est maîtrisée.</p>
      </div>
    </div>
  </div>
  <footer class="bg-dark d-flex align-items-end p-2 flex-grow-1 flex-shrink-1">
    <p class="text-light">© Copyright 2021 Alterra</p>
  </footer>
</div>
